
.app{
    &_header {
        display: flex;
        justify-content: space-between;
    }
    &_title {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 50px;
        line-height: 37px;
        
    }


}